@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Overpass', sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}



.grid {
    line-height: 10px;
    width: max-content;
    overflow: scroll;
}

.cell {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: .5px;
    overflow: hidden;
}

.cell.grass {
    background-color: rgb(146, 194, 63);
}

.cell.water {
    background-color: rgb(101, 194, 220);
}

.cell img {
    max-width: 100%;
    max-height: 100%;
}



.tasks {
    position: fixed;
    right: 8px;
    bottom: 8px;
    height: 240px;
    width: 200px;
    overflow-y: scroll;

    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tasks ul {
    margin: 0;
    padding: 1em;

    list-style: none;
}

.tasks li {
    margin: 4px 0;
}

.tasks li.active {
    color: #da6;
}

.tasks li.impossible {
    color: #d54;
    text-decoration: line-through;
}